back/src/main/resources/firebase/royaleduel-firebase-adminsdk-fbsvc-c7591b8656.json
front/node_modules
back/src/main/resources/firebase/royaleduel-firebase-adminsdk-fbsvc-35dea4ab7c.json

# -----------------------------------------------------
# Common build and dependency directories
# -----------------------------------------------------
**/target/
**/node_modules/
**/.next/

# -----------------------------------------------------
# Local environment files
# -----------------------------------------------------
.env.local
.env
.env.*
!.env.example

# -----------------------------------------------------
# IDE directories
# -----------------------------------------------------
**/.idea/

# -----------------------------------------------------
# Editor and OS artefacts
# -----------------------------------------------------
.DS_Store

# Temporary Maven error logs
back/\[Help*
\[Help
admin/package-lock.json
front/package-lock.json
front/package.json
mvn
front/package.json
front/package-lock.json
admin/package-lock.json
admin/package-lock.json
front/package-lock.json
back/src/main/resources/firebase/royaleduel-firebase-adminsdk-fbsvc-fdfd8e89be.json
*.json
